* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  
    .container{
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

  header {
    background-color: #4986b8;
    color: white;
    height: 40px;
    padding: 20px;
    /* width: 100%; */
  }
  
  main {
    /* height: 77vh; */
    max-width: 800px;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    gap: 10px;
  }
  
  main aside,
  main section {
    padding: 10px;
  }
  
  .left {
    background-color: moccasin;
  }
  
  section {
    background-color: aliceblue;
  }
  
  .right {
    background-color: mistyrose;
  }
  
  footer {
    bottom: 0;
    background-color: black;
    color: white;
    padding: 20px;
    /* width: 100%; */
  }

  @media screen and (min-width: 200px) and (max-width: 800px) {
    header{
      position: fixed;
      width: 100vw;
      top: 0;
    }
    main{
      margin-top: 90px;
      flex-direction: column;
    }
  }