#texto-fonte-root{
    font-size: 3rem;
}

#texto-paddings-verticais{
    padding: 2em;
}

#altura-porcentagem-comprimento{
    height: 20vw;
}

#comprimento-metade-altura{
    width: 50vh;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
    background-color: aqua;
    font-size: 0.7em;
}

#comprimento-pai{
    background-color: darkorange;
    width: 10%;
}

#altura-pai{
    background-color: blueviolet;
    height:10%;
}